.checkout-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b99a92;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #D5B2A9;
}

.input-group {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #b99a92;
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
}

.submit-button {
    padding: 10px 20px;
    background-color: #3993DD;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
